.checkbox-root {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: transparent;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0.625rem;
	cursor: pointer;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	appearance: none;
	border-radius: 99999px;


	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: inherit;
		z-index: 10;
	}
	svg {
		user-select: none;
		size: 1em;
		flex-shrink: 0;

		color: currentColor;
		fill: currentColor;

		@apply  transition-all;
	}
}
.checkbox-sizeSmall {
	@apply text-xl;
}
.checkbox-sizeMedium {
	@apply text-2xl;
}
.checkbox-sizeLarge {
	@apply text-3xl;
}
.checkbox-colorPrimary {
	color: hsl(var(--palette-surface-on));
	@media (hover: hover) {
		&:hover {
			background-color: hsl(var(--palette-primary), 0.15);
		}
	}
	&.checked {
		color: hsl(var(--palette-primary));
	}
}
